@import url("https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap");

/* .cover {
    position: absolute;
    margin: auto;
    top: 0; 
    left: 0; 
      
    /* Preserve aspet ratio */
    /* min-width: 100%;
    min-height: 100%;
    z-index: -1;
  } */ */



.login-page {
  background-image: url(./yarn_spools.jpg);
  /* background-image: url("/components/yarn_spools.jpg"); */
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  
}

.container--login {
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 800px; */
    /* align-content: center;
    justify-content: center; */

    /* background-image: url('./photos/yarn_spools.jpg'); */

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);



}

.form--control {
    color: rgb(20, 56, 20);
}

/* .container--login {
    background-image: url("photos/white_yarn_login_background.jpg");
} */

.login_title {
    color: rgb(51, 87, 51);
    /* font-family: "Comfortaa", Arial, sans-serif; */
    margin: -5px;
    /* font-family: "La Belle Aurore"; */
    font-family: Lora;
    font-size: 160px;
    text-shadow: 1px 1px 1px rgb(C);
}

.btn-login {
    display: flex;
    justify-content: center;
    /* align-self: self; */
    margin-top: 2rem;
    margin-right: 3rem;
    font-size: 1rem;
    padding: 0.5rem;
    box-shadow: 2px 2px 4px -1px grey;
    /* background-color: rgb(88, 99, 88); */
    background-color: rgb(51,87,51);
    border: none;
    color: white;
    border-radius: 7px;
}
