.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    color: rgb(105, 139, 105)
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
    
}

.navbar__logout {
    margin-left: auto;
}

.navbar__link {
    color: rgb(63, 88, 63);
    font-size: 18px;
    text-decoration: none;
}